<ng-container [formGroup]="formGroup">
  <div class="form-group">
    <be-atom-textbox
      formControlName="email"
      [label]="'email' | transloco"
      [placeholder]="'placeholder.email' | transloco"
      [descriptionText]="'description.email' | transloco"
    ></be-atom-textbox>
  </div>
  <div class="form-group">
    <be-atom-textbox
      type="password"
      formControlName="password"
      [label]="'password' | transloco"
      [placeholder]="'placeholder.password' | transloco"
      [descriptionText]="'description.password' | transloco"
    ></be-atom-textbox>
  </div>
  <be-atom-button (onClick)="onSubmit.emit()">{{ 'login' | transloco }}</be-atom-button>
</ng-container>
